* {
	box-sizing: border-box;
}

body {

}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	&.natural {
		width: auto;
	}
}

hr {

}

nav {

}

ul {
	li {

	}
}

section {
	/*overflow: hidden;*/
}

form {

}

input {

}

textarea {

}