.call2action_block {
	padding: 48px 0px;
	text-align: center;
	p, a, .title {
		text-align: center;
		color: #fff;
	}
	.title {
		font-size: 32px;
		@media(min-width: $tablet){
			font-size: 55px;
			margin: 16px 0px;
		}
	}
	@media(min-width: $tablet){
		padding: 78px 0px;
	}
	.vl1 {
		height: 64px;
		@media(min-width: $tablet){
			height: 92px;
		}
	}
}