.btn {
	background: $color-primary;
	color: $color-white;
	display: inline-block;
	font-size: 10px;
	font-family: 'AvenirHeavy';
	padding: 10px 25px;
	border: solid 1px $color-white;
	text-decoration: none;
	line-height: 1em;
	letter-spacing: 0.1em;
	z-index: 2;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    &:hover {
    	// invert
    	background: $color-white;
    	color: $color-primary;
    	border: solid 1px $color-white;
    }
    &-light {
    	background: #E0D8D0;
    	border: solid 1px $color-black;
    	color: $color-black;
    	&:hover {
	    	// invert
	    	background: $color-black;
	    	color: #E0D8D0;
	    	border: solid 1px $color-black;
	    }
    }
}